/**
 * Defines styles for the site.
 *
 * All colors must use variables from the theme.
 */

html {
    color: var(--text-primary-color);
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.6;

    background-color: var(--background-color);
}

/* There is always exactly one h1 on the page. It is at the top, and I don't want space between it and the nav. */
h1 {
    margin-top: 0;
}

p + p {
    text-indent: 1.5em;
}

div.center {
    width: fit-content;
    margin: auto;
}

code {
    padding: 0.1em 0.25em;
    border: 1px solid var(--text-secondary-color);

    background-color: var(--background-alt-color);

    white-space: nowrap;
}

pre code {
    display: block;
    max-width: 75%;
    padding: 0.5em 0.75em;
    margin: 2em auto;

    white-space: pre;

    overflow-x: auto;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a:hover {
    color: var(--link-color-hover);
}

img.center {
    display: block;

    max-width: 100%;
    max-height: 50vh;

    margin: 2rem auto;
}

img.left {
    float: left;
    margin: 0 1rem 1rem 0;
}

.clear-both::after {
    content: "";
    display: block;
    clear: both;
}

li {
    margin: 0.5em 0;
}

